$enable-rounded: true;
$enable-shadows: true;

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color;
  background: rgba($color, $opacity);
}

@import url("https://use.typekit.net/whi5lfr.css");
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/bootstrap';

.navbar {
  user-select: none;
  font-family: ganache, sans-serif;
  font-weight: 400;
  font-style: normal;

  .navbar-brand {
    font-size: 1.75rem;
  }
}

.table-responsive {
  height: calc(100vh - 52px);
  overflow: auto;

  table {
    user-select: none;
    margin-bottom: 0;
    position: relative;
    border-collapse: separate;
    border-spacing: 0;

    th,
    td {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    thead {
      tr {
        th {
          cursor: default;
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 10;

          &:first-child {
            width: 1rem;

            .add-event {
              cursor: pointer;
            }
          }

          &:not(:first-child) {
            width: fit-content;
          }
        }
      }
    }

    tbody {
      tr {
        th {
          cursor: default;
          font-size: 0.75rem;
          font-weight: 600;
        }

        td {
          cursor: pointer;
          margin: 0;
          padding: 0;

          &.today {
            background-color: #e9ecef;
          }

          &:hover {
            @include background-opacity(#e9ecef, 0.75);
          }

          .row,
          .col {
            margin: 0;
            padding: 0;
          }

          .event {
            border-left: 3px solid #343a40;

            &:hover {
              @include background-opacity(#343a40, 0.25);
            }
          }
        }
      }
    }
  }
}
